[submodule "python/kinematics"]
	path = python/kinematics
	url = git@github.com:fdcl-gwu/kinematics.git
[submodule "cpp/libraries/eigen"]
	path = cpp/libraries/eigen
	url = https://github.com/fdcl-gwu/eigen.git
[submodule "cpp/libraries/fdcl_param"]
	path = cpp/libraries/fdcl_param
	url = https://github.com/fdcl-gwu/fdcl_param.git
